<header>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a style="text-decoration: none; color: black;" href="/"><h3>Shopping Cart</h3></a>
          <button
          style="border: none;"
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <i class="fas fa-bars fa-2x text-dark"></i>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav ms-auto">
              <a
                class="nav-link active"
                aria-current="page"
                href="/"
              >Products</a>
              <a class="nav-link active" href="#">Cart</a>
              <a class="nav-link active" href="#">Orders</a>
              <div class="dropdown">
                <button
                  class="btn dropdown-toggle"
                  type="button"
                  id="dropdownMenuButton1"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  Accounts
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                  <li><a class="dropdown-item" href="#">Login</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </nav>
    </header>